@model List<Domain.Product>
@{
    ViewData["Title"] = "Index";
}



<div class="row mb-5">
    <div class="col-md-9 order-2">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">Shop Them All</h2></div>
                <div class="d-flex">
                    <div class="dropdown mr-1 ml-md-auto">

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <a class="dropdown-item" href="#">Men</a>
                            <a class="dropdown-item" href="#">Women</a>
                            <a class="dropdown-item" href="#">Children</a>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Sort By</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <a class="dropdown-item" href="Shop?sortby=name-a-z">Name, A to Z</a>
                            <a class="dropdown-item" href="Shop?sortby=name-z-a">Name, Z to A</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="Shop?sortby=price-l-h">Price, low to high</a>
                            <a class="dropdown-item" href="Shop?sortby=price-h-l">Price, high to low</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PRODUCTS LIST -->

        <div class="row mb-5">

            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                        <figure class="block-4-image">
                            <a href="/Shop/SingleShop?id=@product.Id"> <img src="@Url.Content(@product.ImageRefPath)" class="img-fluid"></a>
                        </figure>
                        <div class="block-4-text p-4">
                            <h3><a href="/Shop/SingleShop?id=@product.Id">@product.Name</a></h3>
                            <p class="mb-0">@product.Description</p>
                            <p class="text-primary font-weight-bold">$@product.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row" data-aos="fade-down">
            <div class="col-md-12 text-center">
                <div class="site-block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Brands</h3>
            <ul class="list-unstyled mb-0">
                @foreach (var category in Model)
                {
                    <li class="mb-1">@Html.ActionLink(category.Brand,"CategoryBrand","ShopSorter")</li>@*<span>@category.CategoryId</span> <span class="text-black ml-auto">@category.Brand</span></a></li>*@
                }

            </ul>
        </div>
    </div>
    
    <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Models</h3>
            <ul class="list-unstyled mb-0">
                @foreach (var category in Model)
                {
                    <li class="mb-1">@Html.ActionLink(category.Model,"CategoryModel","ShopSorter")</li>@*<span>@category.CategoryId</span> <span class="text-black ml-auto">@category.Model</span></a></li>*@
                }

            </ul>
        </div>
    </div>

</div>
@*<partial name="~/Views/Shop/Category.cshtml" />
    @Html.Partial("~/Views/Shared/Category.cshtml", Category)
*@



@*@Html.Partial("~/Views/Shop/Category.cshtml")
    @Html.Partial("Category", Model) *@











@*

        THIS PART WAS THE SLIDER THAT CONTROLLED THE PRICE
        it was not implemented



    <div class="border p-4 rounded mb-4">
        <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
            <div id="slider-range" class="border-primary"></div>
            <input type="range" min="0" max="100" value="50" step="1" oninput="sliderChange(this.value)" />
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
        </div>

        <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
            <label for="s_sm" class="d-flex">
                <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">#</span>
            </label>
            <label for="s_md" class="d-flex">
                <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">#</span>
            </label>
            <label for="s_lg" class="d-flex">
                <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">#</span>
            </label>
        </div>



    </div>*@



@*<script>
        var slider = document.getElementById("amount");
        var output = document.getElementById("shop");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>
*@
