@model Domain.Product
@{
    ViewBag.Title = "SingleShop";
}


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="@Url.Content(Model.ImageRefPath)" alt="If this shows up, I screwed up." class="img-fluid">
            </div>
            
            <div class="col-md-6">
                <h2 class="text-black">@Model.Name.</h2>
                <h2> @Model.Id</h2>
                <p class="mb-4">@Model.Description</p>
                <p><strong class="text-primary h4">@Model.Price</strong></p>
                <p>@Model.Model</p>
                <p>@Model.Brand</p>
                <div class="mb-1 d-flex">
                    <label for="option-sm" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
                    </label>
                    <label for="option-md" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
                    </label>
                    <label for="option-lg" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
                    </label>
                    <label for="option-xl" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
                    </label>
                </div>
                <div class="mb-5">
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>

                </div>
                <p><a href="#" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p>

            </div>
        </div>
    </div>
</div>
@*<div class="row">
        @foreach (var product in Model)
        {

            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3>@Html.ActionLink(product.Name, "SingleShop", "Shop")</h3>
                                <p class="mb-0">@product.Description</p>
                                <p class="text-primary font-weight-bold">@product.Price</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            }

    </div>
*@